{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "rules": {
    "no-case-declarations": "off"
  }
}
