{
  "**/*.{js,jsx,ts,tsx,vue,json,yml,yaml,css,scss,less,md,mdx,graphql}": [
    "yarn knuckle prettier --write",
    "git add"
  ],
  "**/.!(npm|yarn)*rc": ["yarn knuckle prettier --write", "git add"],
  "**/*.{js,jsx}": ["yarn knuckle eslint"]
}
