{
  "**/*.{js,jsx,ts,tsx,vue,json,yaml,css,scss,less,md,mdx,graphql}": [
    "npm run knuckle -- prettier --write",
    "git add"
  ],
  "**/.*rc": ["npm run knuckle -- prettier --write", "git add"],
  "**/*.{js,jsx}": ["npm run knuckle -- eslint"]
}
