{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "semi": true,
  "overrides": [
    {
      "files": ".*rc",
      "options": { "parser": "json" }
    }
  ]
}
